/* Aufgabenstellung

Erstelle ein Formular mit je einem Input-Feld für E-Mail und Password (max. 8 Zeichen). Füge einen Submit und Reset Button hinzu.

Verwende den Input-Type "password" und das Attribut "maxlength", um die Anzahl der für ein Feld zulässigen Zeichen zu begrenzen.
 */
/* Hinweise

In dieser Übung können wir HTML5-Elemente verwenden, um das Formular besser zu strukturieren.

Hier sind ein paar HTML5-Elemente, die du verwenden kannst:

<form>
<fieldset>
<legend>
<label>
<input type="email" />
...
/* <form>
      <fieldset>
        <legend>Authentication</legend>
        <table>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2"></td>
          </tr>
        </table>
      </fieldset>
</form>

 */
*/ * {
  margin: 0;
  padding: 0;
}
html {
  padding: 20px;
}
.btn {
  border-radius: 0.3rem;
  width: 50px;
  margin-top: 0.5rem;
  margin-left: 0.6rem;
}
fieldset {
  width: 35rem;
  height: 10vh;
  padding: 0.5rem;
}
